# Dependencies
node_modules/

# Environment variables
.env

# Build files
dist/
build/

# Logs
*.log

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# User uploaded files
server/uploads/*
!server/uploads/.gitkeep